<html>
    <body>
        <!-- If the country the user wishes to delete has cities, display an -->
        <!-- error message informing the user -->
        <h1>Error Message</h1>
        <br><br>
        <h2><%= code %> has cities, it cannot be deleted</h2>
        <a href="./overview.html">Home</a>
    </body>
    <script>
    </script>
</html>